#root {
  width: 100vw;
  margin: 0 auto;
  padding-left:2rem;
  padding-right:2rem;
}




.header{
  text-align: left;
  background-color: rgb(148, 204, 148);
}

.nav{
  text-align: left;
}

li{
  list-style: none;
  margin-left: 0;
  margin-left: -40px;
}

.article-list{
  display: flex;
  flex-direction: column;
  
  text-align: left;
  font-size: 0.7rem;
  
  border: 2px solid red;
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-card{
  text-align: left;
  border: 1px solid black;
  padding-left: 1rem;
  color:black;
  margin-top: 0.5rem;
  background-color:rgb(245, 245, 245);
}


.article-card h3{
  font-size: 0.8rem;
  text-decoration: underline;
  text-transform: capitalize;
}

.article-card img{
  width:7rem;
}

.article-full{
  background-color:rgb(245, 245, 245);
}

.article-full h2{
  text-decoration: underline;
  text-transform: capitalize;
}

.article-full img{
  width:35rem;
}


.comments-comp{
  border: 2px solid orange;
  background-color: rgb(245, 245, 245);;
}

.votes-comp{
  border: 2px solid black;
  background-color: rgb(245, 245, 245);;
}