#root {
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left:2rem;
  padding-right:2rem;
}

.App{
  display: grid;
  grid-template-rows: auto auto auto;
  width:90%;
  max-width: 1200px;
  position: absolute;
  top:1rem;
  padding-right: 2rem;
}



.header{
  grid-row: 1;
  
  box-sizing: border-box;
  padding-left:2rem;
  padding-right: 2rem;
  text-align: left;
  background-color: rgb(148, 204, 148);
  border-radius: 8px;
  box-shadow: 0 0 0 1pt rgb(0, 0, 0);
    outline-color: transparent; 
  
}

.nav{
  grid-row: 2;
  text-align: left;
  color: black;
}

.nav li{
  list-style: none;
  margin-bottom: 1rem;
  margin-left: -40px;
  color: black;
}

.nav span:hover{
  background-color: rgb(172, 205, 172);
  color: black;
  
}
.nav span:focus{
  background-color: rgb(172, 205, 172);
  color: black;
  
}

.topics-list{
  display: flex;
  flex-direction: row;
  gap:3rem;
  text-transform: capitalize;
  color: black;
  margin-bottom: 0.4rem;
}

.topics-list li:hover{
  background-color: rgb(172, 205, 172);
  color: black;
}

.topics-list li:focus{
  background-color: rgb(172, 205, 172);
  color: black;
}

.content{
  grid-row: 3;
}



.article-list{
  display: flex;
  flex-direction: column;
  
  text-align: left;
  font-size: 0.7rem;
  
  border: 2px solid rgb(148, 204, 148);
  border-radius: 8px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-list li{
  list-style: none;
  margin-bottom: 1rem;
  margin-left: -40px;
  color: black;
}

.article-list h2{
  text-transform: capitalize;
}

.article-card{
  text-align: left;
  border: 2px solid rgb(148, 204, 148);
  border-radius: 8px;
  padding-left: 1rem;
  color:black;
  margin-top: 0.5rem;
  background-color:rgb(245, 245, 245);
}



.article-card h3{
  font-size: 0.9rem;
  text-decoration: underline;
  text-transform: capitalize;
  color:black;
}

.article-card span:hover{
  background-color: rgb(172, 205, 172);
  }

  .article-card span:focus{
    background-color: rgb(172, 205, 172);
    }

.article-card img{
  width:7rem;
}

.article-full{
  display: flex;
  flex-direction: column;
  
  background-color:rgb(245, 245, 245);
  padding-left:1rem;
  padding-right:1rem;
  
  border:2px solid rgb(148, 204, 148);
  border-radius: 8px;
  color:black;
}

.article-full h2{
  text-decoration: underline;
  text-transform: capitalize;
}

.article-full img{
  margin-top: 1rem;
  width:100%;
  align-self: center;
}

.article-topic{
  font-weight: 600;
  color:black;
}

.article-topic:hover{
  background-color: rgb(148, 204, 148);
  font-weight: 600;
}

.article-author{
  font-weight: 700;
}

.time-date{
  font-size: 0.7rem;
  font-weight: 500;
}

.comments-comp{
  margin-top: 1rem;
  border: 2px solid rgb(148, 204, 148);
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  padding-left:1rem;
  padding-right:1rem;
  color:black;

}

.newcomment-submit-btn{

  width:8rem;
  margin: 0 auto;
  background-color: rgb(148, 204, 148);
  color:black;
}

.newcomment-submit-btn:hover{

  width:8rem;
  margin: 0 auto;
  background-color: rgb(117, 163, 117);

  color:white;
}

.newcomment-submit-btn:focus{

  width:8rem;
  margin: 0 auto;
  background-color: rgb(117, 163, 117);

  color:white;
}

.expandable-btn{
  background-color: rgb(148, 204, 148);
  color:black;
  width:3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  padding:0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.4rem;
}

.expandable-btn:hover{
  background-color: rgb(117, 163, 117);
  color:white;
  margin-bottom: 1rem;
}

.expandable-btn:focus{
  background-color: rgb(117, 163, 117);
  color:white;
  margin-bottom: 1rem;
}

.comments-comp li{
  list-style: none;
  margin-bottom: 1rem;
  margin-left: -40px;
  color: black;
}

.comment-card{
  background-color:rgb(245, 245, 245);
  padding-left:1rem;
  padding-right:1rem;
  margin:1rem;
  border:2px solid rgb(148, 204, 148);
  border-radius: 8px;
  color:black;
}

.comment-author{
  font-weight: 700;
}

.comment-votes{
  font-weight: 500;
}

.votes-comp{
  margin-top: 1rem;

  border: 2px solid rgb(148, 204, 148);
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-size: 0.7rem;;
  padding-left:1rem;
  padding-right:1rem;
  padding-bottom: 1rem;
  color:black;
}

.votes-comp p{
  font-size: 1.2rem;
  font-weight: 500;
}

.upvote-btn{
width:7rem;
background-color: rgb(172, 205, 172);
margin:0.7rem;
margin-top: 0;
font-size: 0.8rem;
font-weight: 700;
}

.upvote-btn:hover{
  width:7rem;
  background-color: rgb(171, 229, 171);
  margin:0.7rem;
  margin-top: 0;
  font-size: 0.8rem;
font-weight: 700;
  }

  .upvote-btn:focus{
    width:7rem;
    background-color: rgb(171, 229, 171);
    margin:0.7rem;
    margin-top: 0;
    font-size: 0.8rem;
font-weight: 700;
    }

.downvote-btn{
  width:7rem;
  background-color: rgb(245, 149, 149);
  margin:0.7rem;
  margin-top: 0;
  font-size: 0.8rem;
font-weight: 700;
}

.downvote-btn:hover{
  width:7rem;
  background-color: rgb(249, 180, 180);
  margin:0.7rem;
  margin-top: 0;
  font-size: 0.8rem;
font-weight: 700;
}

.downvote-btn:focus{
  width:7rem;
  background-color: rgb(249, 180, 180);
  margin:0.7rem;
  margin-top: 0;
  font-size: 0.8rem;
font-weight: 700;
}


.new-comment-form{
  display:flex;
  flex-direction: column;
  gap:1rem;
  background-color:rgb(245, 245, 245);
  padding:1rem;
  margin:1rem;
  border:2px solid rgb(148, 204, 148);
  border-radius: 8px;
  color:black;
}

.error-class{
  color:red;
  
}

.success-class{
  color:green;
}





.delete-comment{
  text-align: right;

}

.delete-comment button{
  background-color: rgb(254, 159, 159);
  color: black;
  margin-bottom:1rem;
}

.delete-comment button:hover{
  background-color: rgb(251, 116, 116);
  color:white;
  margin-bottom:1rem;
}

.delete-comment button:focus{
  background-color: rgb(251, 116, 116);
  color:white;
  margin-bottom:1rem;
}

.error-comp{
  background-color:rgb(245, 245, 245);
  padding-left:1rem;
  padding-right:1rem;
  margin:1rem;
  border:2px solid red;
  color: red;

}